body {
    padding: 20px;
    text-align: center;
    color: #BFC9CA;
    background: rgba(46, 54, 78, 0.945);
    height: 80vh;
}

h1 {
    font-size: 200%;
    margin-bottom: 0.5em;
    color: #BFC9CA;
}

p {
    margin-bottom: 1em;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.board {
    /* float: right;
    position: relative;
    left: -31.2%; */
    font-size: 250%;
    font-weight: bold;
    /* margin-right: 40px;
    margin-top: 25px; */
}

.board td {
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}

.board td:hover {
    background: rgba(219, 218, 218, 0.459);
}

.board td:active {
    background: rgba(202, 117, 117, 0.459);
}

.board #one,
.board #two {
    border-right: 2px solid rgb(27, 28, 29);
    border-bottom: 2px solid rgb(27, 28, 29);
}

.board #three,
.board #six {
    border-bottom: 2px solid rgb(27, 28, 29);
}

.board #four,
.board #five {
    border-right: 2px solid rgb(27, 28, 29);
    border-bottom: 2px solid rgb(27, 28, 29);
}

.board #seven,
.board #eight {
    border-right: 2px solid rgb(27, 28, 29);
}

.board td.highlight {
    background-color: #F5F5F5;
}
.button {
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    border: none;
    border-left: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    background-color: #394158;
    font-size: 32px;
    margin: 4px 2px;
    outline: none;
}
button:focus {
  outline:0;
}