body {
    padding: 20px;
    text-align: center;
    color: #BFC9CA;
    background: #2E364E;
    height: 80vh;
}

h1 {
    font-size: 300%;
    margin-bottom: 0.5em;
    color: #A0EFB6;
    font-family: Helvetica, sans-serif;
    letter-spacing: 10px;
    padding-left: .5em;
}

p {
    margin-bottom: 1em;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.board {
    font-size: 250%;
    font-weight: bold;
}

.board td {
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}

.board .field:hover {
    color: #A0EFB6;
}

.board .field:active {
    background: #CA7575;
}

.board #one,
.board #two {
    border-right: 2px solid #1B1C1D;
    border-bottom: 2px solid #1B1C1D;
}

.board #three,
.board #six {
    border-bottom: 2px solid #1B1C1D;
}

.board #four,
.board #five {
    border-right: 2px solid #1B1C1D;
    border-bottom: 2px solid #1B1C1D;
}

.board #seven,
.board #eight {
    border-right: 2px solid #1B1C1D;
}

.board .field.highlight {
    background-color: #F5F5F5;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 200%;
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 100%;
    }
}